/* 0.Common CSS */

/* Import fonts from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

/* Prevent x-axis */
* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { overflow-x: hidden; }

.body-cl { background-color: var(--pallete-1); }
.resize-none { resize: none; }
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}
.ff-merriweather { font-family: 'Merriweather', serif; }
/* Custom scrollbar for desktop */
::-webkit-scrollbar { width: 10px; }
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
} 
::-webkit-scrollbar-thumb {
  background: var(--pallete-2); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover { background: var(--pallete-2); }

/* Color pallete */
:root {
  --pallete-1: #000a19;
  --pallete-2: #fe5565;
  --pallete-3: #5adddc;
  --pallete-4: #fafed0;
  --pallete-5: #9e9fde;
  --pallete-acrylic: rgba(0, 10, 25, 0.3);
  --pallete-shadow-modal: rgba(250, 254, 208, 0.15);
}
/* Debug Section */
/*
.section { border: 1px solid #d64e12; }
.footer { border: 1px solid #d64e12; }
.container-fluid { border: 1px solid #f9a52c; }
.container { border: 1px solid #efdf48; }
.row { border: 1px solid #8bd346; }
.col { border: 1px solid #60dbe8; }
[class*=".col-"] { border: 1px solid #16a4d8; }
*/
/* 1.Navbar */
nav a:hover{ 
  color: var(--pallete-4) !important; 
  text-decoration: none;
}
.nav-bg { background-color: rgba(0, 10, 25, 0.5); }
.nav-logo {
  width: 140px; 
  height: auto;
}
/* 2.Banner */
.carousel .carousel-item { height: 600px; }
.carousel-item img {
  height: 100% !important;
  width:  100% !important;
  object-fit: cover;
  border: 1px solid #f00;
}
/* 3.JP Day */
/* 4.Past Event */
.h-550 { height: 550px; }
/* 5.Hikari */           
.btn-buyticket {
  align-items: center;
  background: var(--pallete-5);
  background: linear-gradient(125deg, var(--pallete-5) 20%, var(--pallete-3) 56%, var(--pallete-4) 100%);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFF;
  font-family: Merriweather, sans-serif;
  font-weight: bold;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}
.btn-buyticket:active,
.btn-buyticket:hover {
  outline: 0;
}
@media (min-width: 768px) {
  .btn-buyticket {
    font-size: 24px;
    min-width: 196px;
  }
}
.img-cover { object-fit: cover; }
/* 6.Ambassadors */

/* 7.Guests */

/* 8.Contest */
.btn-close { 
  background-color: rgba(216, 216, 216, 0.35) !important;
  opacity: 1;
}
.carousel-indicators li {
  width: 10px;
  height: 10px; 
  color: var(--pallete-2);
  border-radius: 100%;
}
.modal-content {
  position: relative;
  background: var(--pallete-acrylic) !important;
  -webkit-backdrop-filter: blur(10px) !important;
  backdrop-filter: blur(10px) !important;
  border-radius: 16px; border: 1.5px solid transparent !important;
  box-shadow: 0px 0px 10px 10px var(--pallete-shadow-modal);
}
/* 9.Partner */
.img-logo-ftu2 {
  width: 300px;
  height: auto;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
}
.img-logo-chienluoc {
  width: 180px;
  height: auto;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
}
.img-logo-vang {
  width: 140px;
  height: auto;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
}
.img-logo-bac {
  width: 110px;
  height: auto;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
}
.img-logo-donghanh {
  width: 45px;
  height: auto;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
}
.img-logo-truyenthong {
  width: 75px;
  height: auto;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
}
/* 10.FJC */
.btn-social {
  width: 30px; 
  height: 30px; 
  border-radius: 24px; 
  margin: 0px 25px 0px 25px;
  background-color: #f00;
}
/* 11.Footer */
.social-block {
  margin: 2.25em; 
  flex-direction: row;
  justify-content: center;
}